<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: "js-count", rows: 10, cols: 100  %>
    <div class="counter">
      <span class="show-count">0</span>文字
    </div>
    <span id="content-error-message">Tweetは必須かつ140文字以下。</span>
  </div>


  <div class="actions">
    <%= form.submit id: "btn" %>
  </div>
<% end %>

<%= javascript_pack_tag 'tweets/form' %>
