<p id="notice"><%= notice %></p>
<p class="new-tweet"><%= link_to 'New Tweet', new_tweet_path %></p>
<div class="main-contents">
    <% @tweets.each do |tweet| %>
    <div class="tweets">
      <p>
        <%= link_to tweet.user.nickname, user_path(tweet.user_id) %>
        <br>
        <%= link_to tweet.content, tweet %>
        <br>
        <%= tweet.updated_at.strftime('%Y/%m/%d') %>
        <span class="fas fa-heart"></span><%= tweet.likes.count %>
      </p>
    </div>
    <% end %>
</div>
