<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @user.desc %>
</p>

<h2>投稿内容</h2>
<% @user.tweets.each do |tweet| %>
  <a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a>
  <hr>
<% end %>
<h3>いいねしている投稿</h3>
<% @user.liked_tweets.each do |tweet| %>
  <%= tweet.user.email %>
  <%= tweet.content %>
  <br>
<% end %>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
